body {
  background-color: rgb(94, 94, 94);
}
#contents {
  background-color: rgb(189, 189, 189);

}

.d-flex{
  display: flex;
}

.center {
  justify-content: center;
  
}

.doggo {
  width: 15%;
  height: auto;
  border-radius: 50%;
}


p {
  font-size: 24px;
}

.big-font {
  font-size: 45px;
}
