body {
  background-color: rgb(94, 94, 94);
}

.d-flex{
  display: flex;
}

.center {
  justify-content: center;
  
}

.wrap {
  flex-wrap: wrap;
}

img {
  width: 15%;
  height: auto;
}


p {
  font-size: 24px;
}